<nav id="sidebar">
    <div class="sidebar-header">
        <h3>داشبورد</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/user/dashboard">پروفایل</a>
        </li>
        <div class="first">

        </div>
        <li>
            <a href="/article">تمام مقالات</a>
        </li>
        <li>
            <a href="/auth/logout">خروج</a>
        </li>
        <div class="last">

        </div>
    </ul>
</nav>