<nav id="sidebar">
    <div class="sidebar-header">
        <h3>داشبورد</h3>
    </div>
    <ul class="list-unstyled components">
        <!-- <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="/user/dashboard">پروفایل</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">مقاله</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/user/addArticle">افزودن مقاله جدید</a>
                </li>
                <li>
                    <a href="/article/myArticles">مقالات من</a>
                </li>
                <li>
                    <a href="/article">تمام مقالات</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/auth/logout">خروج</a>
        </li>
        <li>
            <a class="deleteBtn">حذف حساب</a>
        </li>
    </ul>
</nav>